POSTGRES_DB=savethestock
POSTGRES_USER=savethestock
POSTGRES_PASSWORD=savethestock
POSTGRES_PORT=5432

JWT_SECRET=CHANGE_ME_DEV_ONLY_MIN_32_CHARS_LONG_123456
DEV_SEED_ENABLED=false

FRONTEND_PORT=5173
BACKEND_PORT=8080
VITE_API_TIMEOUT_MS=15000
