# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# ENV
# =========================
.env
.env.local
.env.*.local

# =========================
# Docker
# =========================
docker-data/
*.log

# =========================
# .NET
# =========================
bin/
obj/
out/
*.user
*.suo
*.cache
*.pdb
*.mdb
**/bin/
**/obj/
**/out/
**/Debug/
**/Release/
*.user
*.suo
*.cache
*.pdb
*.mdb
*.sln.docstates

# Rider / VSCode
.vscode/
.idea/

# =========================
# Node / React
# =========================
node_modules/
dist/
build/
coverage/
*.tsbuildinfo

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Tests
# =========================
TestResults/

# =========================
# Database local
# =========================
*.db
*.sqlite

# =========================
# Misc
# =========================
*.tmp
*.swp
